## KNIME files
.knimeLock
.project
.savedWithData
workflowset.meta

## KNIME directories containing node data
internal/
port_*/
.metadata/*
internalTables/
knime-workspace-20220601T080342Z-001/
Kevin/Python/csv/

# Example workflow
Example Workflows/

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
